<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkVersion</key>
	<dict>
		<key>description</key>
		<string>APIのバージョンを確認</string>
		<key>classname</key>
		<string>UserStore</string>
	</dict>
	<key>getBootstrapInfo</key>
	<dict>
		<key>description</key>
		<string>bootstrap情報を取得</string>
		<key>classname</key>
		<string>UserStore</string>
	</dict>
	<key>authenticate</key>
	<dict>
		<key>description</key>
		<string>ユーザアカウントを認証</string>
		<key>classname</key>
		<string>UserStore</string>
	</dict>
	<key>refreshAuthentication</key>
	<dict>
		<key>description</key>
		<string>トークンの更新</string>
		<key>classname</key>
		<string>UserStore</string>
	</dict>
	<key>getUser</key>
	<dict>
		<key>description</key>
		<string>トークンに紐付いたユーザ情報を取得</string>
		<key>classname</key>
		<string>UserStore</string>
	</dict>
	<key>getPublicUserInfo</key>
	<dict>
		<key>description</key>
		<string>ユーザ名に割り当てられた公開情報を取得</string>
		<key>classname</key>
		<string>UserStore</string>
	</dict>
	<key>getPremiumInfo</key>
	<dict>
		<key>description</key>
		<string>プレミアムアカウントの情報を取得</string>
		<key>classname</key>
		<string>UserStore</string>
	</dict>
	<key>getNoteStoreUrl</key>
	<dict>
		<key>description</key>
		<string>トークンに割り当てられているNoteStore情報を取得</string>
		<key>classname</key>
		<string>UserStore</string>
	</dict>
	<key>getSyncChunk</key>
	<dict>
		<key>description</key>
		<string>更新内容を取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getSyncState</key>
	<dict>
		<key>description</key>
		<string>更新状態を取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getFilteredSyncChunk</key>
	<dict>
		<key>description</key>
		<string>フィルタした更新内容を取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getLinkedNotebookSyncState</key>
	<dict>
		<key>description</key>
		<string>リンクされたノートブックの更新状態を取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getLinkedNotebookSyncChunk</key>
	<dict>
		<key>description</key>
		<string>リンクされたノートブックの更新内容を取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>listNotebooks</key>
	<dict>
		<key>description</key>
		<string>全ノートブックのリストを取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getNotebook</key>
	<dict>
		<key>description</key>
		<string>ノートブックの情報をGUIDから取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getDefaultNotebook</key>
	<dict>
		<key>description</key>
		<string>デフォルトノートブックを取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>createNotebook</key>
	<dict>
		<key>description</key>
		<string>ノートブックを作成</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>updateNotebook</key>
	<dict>
		<key>description</key>
		<string>ノートブックを更新</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>expungeNotebook</key>
	<dict>
		<key>description</key>
		<string>ノートブックを削除</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>listTags</key>
	<dict>
		<key>description</key>
		<string>全タグのリストを取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>listTagsByNotebook</key>
	<dict>
		<key>description</key>
		<string>ノートブック内のノートで使用されている全タグのリストを取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getTag</key>
	<dict>
		<key>description</key>
		<string>タグの情報をGUIDから取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>createTag</key>
	<dict>
		<key>description</key>
		<string>タグを作成</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>updateTag</key>
	<dict>
		<key>description</key>
		<string>タグを更新</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>untagAll</key>
	<dict>
		<key>description</key>
		<string>タグを全ノートから削除（タグ自体は消さない）</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>expungeTag</key>
	<dict>
		<key>description</key>
		<string>タグを削除</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>listSearches</key>
	<dict>
		<key>description</key>
		<string>検索条件の全リストを取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getSearch</key>
	<dict>
		<key>description</key>
		<string>検索条件を取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>createSearch</key>
	<dict>
		<key>description</key>
		<string>検索条件を作成</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>updateSearch</key>
	<dict>
		<key>description</key>
		<string>検索条件を更新</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>expungeSearch</key>
	<dict>
		<key>description</key>
		<string>検索条件を削除</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>findNotes</key>
	<dict>
		<key>description</key>
		<string>ノートを検索</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>findNoteOffset</key>
	<dict>
		<key>description</key>
		<string>フィルターされたリスト内でのノートのインデックスを取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>findNotesMetadata</key>
	<dict>
		<key>description</key>
		<string>ノートをメタデータから検索</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>findNoteCounts</key>
	<dict>
		<key>description</key>
		<string>ノート数をフィルターから取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getNote</key>
	<dict>
		<key>description</key>
		<string>ノートの情報をGUIDから取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getNoteApplicationData</key>
	<dict>
		<key>description</key>
		<string>ノートの全アプルケーションデータを取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getNoteApplicationDataEntry</key>
	<dict>
		<key>description</key>
		<string>ノートのアプリケーションデータを取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>setNoteApplicationDataEntry</key>
	<dict>
		<key>description</key>
		<string>ノートのアプリケーションデータを設定</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>unsetNoteApplicationDataEntry</key>
	<dict>
		<key>description</key>
		<string>ノートのアプリケーションデータを削除</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getNoteContent</key>
	<dict>
		<key>description</key>
		<string>ノートの内容を取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getNoteSearchText</key>
	<dict>
		<key>description</key>
		<string>ノートの検索キーワードを取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getResourceSearchText</key>
	<dict>
		<key>description</key>
		<string>リソースの検索キーワードを取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getNoteTagNames</key>
	<dict>
		<key>description</key>
		<string>ノートの全タグのリストを取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>createNote</key>
	<dict>
		<key>description</key>
		<string>ノートを作成</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>updateNote</key>
	<dict>
		<key>description</key>
		<string>ノートを更新</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>deleteNote</key>
	<dict>
		<key>description</key>
		<string>ノートをゴミ箱へ移動</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>expungeNote</key>
	<dict>
		<key>description</key>
		<string>ノートを削除</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>expungeNotes</key>
	<dict>
		<key>description</key>
		<string>ノートを一括削除</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>expungeInactiveNotes</key>
	<dict>
		<key>description</key>
		<string>ゴミ箱のノートを削除</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>copyNote</key>
	<dict>
		<key>description</key>
		<string>ノートを複製</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>listNoteVersions</key>
	<dict>
		<key>description</key>
		<string>ノートのバージョンリストを取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getNoteVersion</key>
	<dict>
		<key>description</key>
		<string>ノートの履歴を取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getResource</key>
	<dict>
		<key>description</key>
		<string>リソースの情報をGUIDから取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getResourceApplicationData</key>
	<dict>
		<key>description</key>
		<string>リソースの全アプリケーションデータを取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getResourceApplicationDataEntry</key>
	<dict>
		<key>description</key>
		<string>リソースのアプリケーションデータを取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>setResourceApplicationDataEntry</key>
	<dict>
		<key>description</key>
		<string>リソースのアプリケーションデータを設定</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>unsetResourceApplicationDataEntry</key>
	<dict>
		<key>description</key>
		<string>リソースのアプリケーションデータを削除</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>updateResource</key>
	<dict>
		<key>description</key>
		<string>リソースのメタデータを更新</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getResourceData</key>
	<dict>
		<key>description</key>
		<string>リソースのデータを取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getResourceByHash</key>
	<dict>
		<key>description</key>
		<string>リソースを取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getResourceRecognition</key>
	<dict>
		<key>description</key>
		<string>リソースの認識データを取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getResourceAlternateData</key>
	<dict>
		<key>description</key>
		<string>リソースのAlterntateDataを取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getResourceAttributes</key>
	<dict>
		<key>description</key>
		<string>リソースの属性値を取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getAccountSize</key>
	<dict>
		<key>description</key>
		<string>アカウントのファイル使用量を取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getAds</key>
	<dict>
		<key>description</key>
		<string>広告のリストを取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getRandomAd</key>
	<dict>
		<key>description</key>
		<string>ランダムに一つの広告を取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getPublicNotebook</key>
	<dict>
		<key>description</key>
		<string>公開されたノートブックを取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>createSharedNotebook</key>
	<dict>
		<key>description</key>
		<string>共有ノートブックを作成</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>sendMessageToSharedNotebookMembers</key>
	<dict>
		<key>description</key>
		<string>共有ノートブックの利用メンバーにemailを送信</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>listSharedNotebooks</key>
	<dict>
		<key>description</key>
		<string>共有ノートブックの全リストを取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>expungeSharedNotebooks</key>
	<dict>
		<key>description</key>
		<string>共有ノートブックを一括削除</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>createLinkedNotebook</key>
	<dict>
		<key>description</key>
		<string>リンクされたノートブックを作成</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>updateLinkedNotebook</key>
	<dict>
		<key>description</key>
		<string>リンクされたノートブックを更新</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>listLinkedNotebooks</key>
	<dict>
		<key>description</key>
		<string>リンクされたノートブックの一覧を取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>expungeLinkedNotebook</key>
	<dict>
		<key>description</key>
		<string>リンクされたノートブックを削除</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>authenticateToSharedNotebook</key>
	<dict>
		<key>description</key>
		<string>共有ノートブック用のトークンを取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>getSharedNotebookByAuth</key>
	<dict>
		<key>description</key>
		<string>共有ノートブックの情報をトークンから取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>emailNote</key>
	<dict>
		<key>description</key>
		<string>ノートをemailで送信</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>shareNote</key>
	<dict>
		<key>description</key>
		<string>ノートの共有を開始</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>stopSharingNote</key>
	<dict>
		<key>description</key>
		<string>ノートの共有を中止</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
	<key>authenticateToSharedNote</key>
	<dict>
		<key>description</key>
		<string>共有ノートのトークンを取得</string>
		<key>classname</key>
		<string>NoteStore</string>
	</dict>
</dict>
</plist>
