<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>importance</key>
	<array>
		<string>checkVersion</string>
		<string>authenticate</string>
		<string>createNote</string>
		<string>listNotebooks</string>
		<string>listTags</string>
		<string>findNotes</string>
		<string>getNote</string>
		<string>getNoteContent</string>
		<string>updateNote</string>
		<string>createNotebook</string>
		<string>findNotesMetadata</string>
	</array>
	<key>UserStoreAlphabet</key>
	<array>
		<string>authenticate</string>
		<string>checkVersion</string>
		<string>getBootstrapInfo</string>
		<string>getNoteStoreUrl</string>
		<string>getPremiumInfo</string>
		<string>getPublicUserInfo</string>
		<string>getUser</string>
		<string>refreshAuthentication</string>
	</array>
	<key>NoteStoreAlphabet</key>
	<array>
		<string>authenticateToSharedNote</string>
		<string>authenticateToSharedNotebook</string>
		<string>copyNote</string>
		<string>createLinkedNotebook</string>
		<string>createNote</string>
		<string>createNotebook</string>
		<string>createSearch</string>
		<string>createSharedNotebook</string>
		<string>createTag</string>
		<string>deleteNote</string>
		<string>emailNote</string>
		<string>expungeInactiveNotes</string>
		<string>expungeLinkedNotebook</string>
		<string>expungeNote</string>
		<string>expungeNotebook</string>
		<string>expungeNotes</string>
		<string>expungeSearch</string>
		<string>expungeSharedNotebooks</string>
		<string>expungeTag</string>
		<string>findNoteCounts</string>
		<string>findNoteOffset</string>
		<string>findNotes</string>
		<string>findNotesMetadata</string>
		<string>getAccountSize</string>
		<string>getAds</string>
		<string>getDefaultNotebook</string>
		<string>getFilteredSyncChunk</string>
		<string>getLinkedNotebookSyncChunk</string>
		<string>getLinkedNotebookSyncState</string>
		<string>getNote</string>
		<string>getNoteApplicationData</string>
		<string>getNoteApplicationDataEntry</string>
		<string>getNotebook</string>
		<string>getNoteContent</string>
		<string>getNoteSearchText</string>
		<string>getNoteTagNames</string>
		<string>getNoteVersion</string>
		<string>getPublicNotebook</string>
		<string>getRandomAd</string>
		<string>getResource</string>
		<string>getResourceAlternateData</string>
		<string>getResourceApplicationData</string>
		<string>getResourceApplicationDataEntry</string>
		<string>getResourceAttributes</string>
		<string>getResourceByHash</string>
		<string>getResourceData</string>
		<string>getResourceRecognition</string>
		<string>getResourceSearchText</string>
		<string>getSearch</string>
		<string>getSharedNotebookByAuth</string>
		<string>getSyncChunk</string>
		<string>getSyncState</string>
		<string>getTag</string>
		<string>listLinkedNotebooks</string>
		<string>listNotebooks</string>
		<string>listNoteVersions</string>
		<string>listSearches</string>
		<string>listSharedNotebooks</string>
		<string>listTags</string>
		<string>listTagsByNotebook</string>
		<string>sendMessageToSharedNotebookMembers</string>
		<string>setNoteApplicationDataEntry</string>
		<string>setResourceApplicationDataEntry</string>
		<string>shareNote</string>
		<string>stopSharingNote</string>
		<string>unsetNoteApplicationDataEntry</string>
		<string>unsetResourceApplicationDataEntry</string>
		<string>untagAll</string>
		<string>updateLinkedNotebook</string>
		<string>updateNote</string>
		<string>updateNotebook</string>
		<string>updateResource</string>
		<string>updateSearch</string>
		<string>updateTag</string>
	</array>
	<key>NoteStoreCategory</key>
	<array>
		<string>Notebook</string>
		<string>Note</string>
		<string>Tag</string>
		<string>Resource</string>
		<string>Search</string>
		<string>Sync</string>
		<string>ApplicationData</string>
		<string>Share</string>
		<string>Ad</string>
	</array>
	<key>NoteStoreFunction</key>
	<array>
		<string>Create</string>
		<string>Get</string>
		<string>List</string>
		<string>Find</string>
		<string>Update</string>
		<string>Delete</string>
		<string>Etc</string>
	</array>
	<key>Notebook</key>
	<array>
		<string>getNotebook</string>
		<string>getDefaultNotebook</string>
		<string>createNotebook</string>
		<string>updateNotebook</string>
		<string>expungeNotebook</string>
	</array>
	<key>Note</key>
	<array>
		<string>findNotes</string>
		<string>findNoteOffset</string>
		<string>findNotesMetadata</string>
		<string>findNoteCounts</string>
		<string>getNote</string>
		<string>getNoteContent</string>
		<string>getNoteSearchText</string>
		<string>getResourceSearchText</string>
		<string>getNoteTagNames</string>
		<string>createNote</string>
		<string>updateNote</string>
		<string>deleteNote</string>
		<string>expungeNote</string>
		<string>expungeNotes</string>
		<string>expungeInactiveNotes</string>
		<string>copyNote</string>
		<string>listNoteVersions</string>
		<string>getNoteVersion</string>
	</array>
	<key>Tag</key>
	<array>
		<string>listTags</string>
		<string>listTagsByNotebook</string>
		<string>getTag</string>
		<string>createTag</string>
		<string>updateTag</string>
		<string>untagAll</string>
		<string>expungeTag</string>
	</array>
	<key>Resource</key>
	<array>
		<string>getResource</string>
		<string>updateResource</string>
		<string>getResourceData</string>
		<string>getResourceByHash</string>
		<string>getResourceRecognition</string>
		<string>getResourceAlternateData</string>
		<string>getResourceAttributes</string>
	</array>
	<key>Search</key>
	<array>
		<string>listSearches</string>
		<string>getSearch</string>
		<string>createSearch</string>
		<string>updateSearch</string>
		<string>expungeSearch</string>
	</array>
	<key>Sync</key>
	<array>
		<string>getSyncChunk</string>
		<string>getSyncState</string>
		<string>getFilteredSyncChunk</string>
		<string>getLinkedNotebookSyncState</string>
		<string>getLinkedNotebookSyncChunk</string>
	</array>
	<key>ApplicationData</key>
	<array>
		<string>getNoteApplicationData</string>
		<string>getNoteApplicationDataEntry</string>
		<string>setNoteApplicationDataEntry</string>
		<string>unsetNoteApplicationDataEntry</string>
		<string>getResourceApplicationData</string>
		<string>getResourceApplicationDataEntry</string>
		<string>setResourceApplicationDataEntry</string>
		<string>unsetResourceApplicationDataEntry</string>
	</array>
	<key>Share</key>
	<array>
		<string>getPublicNotebook</string>
		<string>createSharedNotebook</string>
		<string>sendMessageToSharedNotebookMembers</string>
		<string>listSharedNotebooks</string>
		<string>expungeSharedNotebooks</string>
		<string>createLinkedNotebook</string>
		<string>updateLinkedNotebook</string>
		<string>listLinkedNotebooks</string>
		<string>expungeLinkedNotebook</string>
		<string>authenticateToSharedNotebook</string>
		<string>getSharedNotebookByAuth</string>
		<string>emailNote</string>
		<string>shareNote</string>
		<string>stopSharingNote</string>
		<string>authenticateToSharedNote</string>
	</array>
	<key>Ad</key>
	<array>
		<string>getAds</string>
		<string>getRandomAd</string>
	</array>

	<key>Create</key>
	<array>
		<string>createNotebook</string>
		<string>createTag</string>
		<string>createSearch</string>
		<string>createNote</string>
		<string>copyNote</string>
		<string>createSharedNotebook</string>
		<string>createLinkedNotebook</string>
	</array>
	<key>Get</key>
	<array>
		<string>getSyncChunk</string>
		<string>getSyncState</string>
		<string>getFilteredSyncChunk</string>
		<string>getLinkedNotebookSyncState</string>
		<string>getLinkedNotebookSyncChunk</string>
		<string>getNotebook</string>
		<string>getDefaultNotebook</string>
		<string>getTag</string>
		<string>getSearch</string>
		<string>getNote</string>
		<string>getNoteApplicationData</string>
		<string>getNoteApplicationDataEntry</string>
		<string>getNoteContent</string>
		<string>getNoteSearchText</string>
		<string>getResourceSearchText</string>
		<string>getNoteTagNames</string>
		<string>getNoteVersion</string>
		<string>getResource</string>
		<string>getResourceApplicationData</string>
		<string>getResourceApplicationDataEntry</string>
		<string>getResourceData</string>
		<string>getResourceByHash</string>
		<string>getResourceRecognition</string>
		<string>getResourceAlternateData</string>
		<string>getResourceAttributes</string>
		<string>getAccountSize</string>
		<string>getAds</string>
		<string>getRandomAd</string>
		<string>getPublicNotebook</string>
		<string>authenticateToSharedNotebook</string>
		<string>getSharedNotebookByAuth</string>
		<string>authenticateToSharedNote</string>
	</array>
	<key>List</key>
	<array>
		<string>listNotebooks</string>
		<string>listTags</string>
		<string>listTagsByNotebook</string>
		<string>listSearches</string>
		<string>listNoteVersions</string>
		<string>listSharedNotebooks</string>
		<string>listLinkedNotebooks</string>
	</array>
	<key>Find</key>
	<array>
		<string>findNotes</string>
		<string>findNoteOffset</string>
		<string>findNotesMetadata</string>
		<string>findNoteCounts</string>
	</array>
	<key>Update</key>
	<array>
		<string>refreshAuthentication</string>
		<string>updateNotebook</string>
		<string>updateTag</string>
		<string>untagAll</string>
		<string>updateSearch</string>
		<string>setNoteApplicationDataEntry</string>
		<string>unsetNoteApplicationDataEntry</string>
		<string>updateNote</string>
		<string>setResourceApplicationDataEntry</string>
		<string>unsetResourceApplicationDataEntry</string>
		<string>updateResource</string>
		<string>updateLinkedNotebook</string>
		<string>shareNote</string>
		<string>stopSharingNote</string>
	</array>
	<key>Delete</key>
	<array>
		<string>expungeNotebook</string>
		<string>expungeTag</string>
		<string>expungeSearch</string>
		<string>deleteNote</string>
		<string>expungeNote</string>
		<string>expungeNotes</string>
		<string>expungeInactiveNotes</string>
		<string>expungeSharedNotebooks</string>
		<string>expungeLinkedNotebook</string>
	</array>
	<key>Etc</key>
	<array>
		<string>sendMessageToSharedNotebookMembers</string>
		<string>emailNote</string>
	</array>
</dict>
</plist>
